<include file="public/layout" />
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>营养膳食--添加菜品</h3>
                <h5>添加菜谱资料</h5>
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="form" method="post" action="/index.php?m=Admin&c=Shan&a=qian_food_add" enctype="multipart/form-data">
        <div class="ncap-form-default">
        	  <dl class="row">
                <dt class="tit">
                    <label for="user_name"><em>*</em>所属园所</label>
                </dt>
                <dd class="opt">
                    <select name="garden_id[]" class="sell">
                        <option value="0">请选择...</option>
                    	<foreach name="garden" item="val">
                    		<option value="{$val.id}">{$val.name}</option>
                    	</foreach>
                    	
                    	
                    </select>
                    <span class="err" id="err_user_name"></span>
                    <p class="notic">所属园所</p>
                </dd>
            </dl>
            
           <!--  <dl class="row">
                <dt class="tit">
                    <label for="user_name"><em>*</em>饭点类型</label>
                </dt>
                <dd class="opt">
                    <select name="eat_time_type">
                    	<option value="1">早餐食谱</option>
                    	<option value="2">早点食谱</option>
                    	<option value="3">午餐食谱</option>
                    	<option value="4">午点食谱</option>
                    	<option value="5">晚餐食谱</option>
                    </select>
                    <span class="err" id="err_user_name"></span>
                    <p class="notic">食谱类型</p>
                </dd>
            </dl> -->
            <dl class="row">
                <dt class="tit">
                    <label for="user_name"><em>*</em>食谱类型</label>
                </dt>
                <dd class="opt">
                    <select name="menu_type">
                    	<foreach name="menu" item="val">
                    		<option value="{$val.id}">{$val.name}</option>
                    	</foreach>
                    	
                    	
                    </select>
                    <span class="err" id="err_user_name"></span>
                    <p class="notic">食谱类型</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="email"><em>*</em>食谱名称</label>
                </dt>
                <dd class="opt">
                   <input type="text" name="name" maxlength="18"  class="input-txt">
                    <span class="err" id="err_email"></span><p class="notic">食谱名称</p>
                </dd>

            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="password"><em>*</em>选择食材</label>
                </dt>
                <dd class="opt">
                    <select name="food_cai[]">
                    	<foreach name="cai" item="val">
                    		<option value="{$val.id}">{$val.name}</option>
                    	</foreach>
                    </select>
                    <input type="text" name="ke[]">克
                    <input type="text" name="hl[]">ml
                    <button class="cai" type="button">＋</button>
                    <span class="err" id="err_password"></span><p class="notic">选择食材</p>
                </dd>

            </dl>
             <dl class="row">
                <dt class="tit">
                    <label for="password"><em>*</em>上传图片</label>
                </dt>
                <dd class="opt">
                    <input type="file" name="file">
                    <span class="err" id="err_password"></span><p class="notic">食品图片</p>
                </dd>

            </dl>
            
            <div class="bot"><a href="JavaScript:void(0);" onclick="adsubmit();" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
        </div>
    </form>
</div>
<script type="text/javascript">


  $(document).on('click',".cai",function(){
	  	var type = $(this).html();
	  	
	  	if(type=="＋"){
	  		$(this).html("-")
	  		var clone=$(this).parent().parent().clone()
	  		$(this).parent().parent().after(clone)
	  		$(this).html("＋")
	  	}else{
	  		$(this).parent().parent().remove()
	  	}
  })

    function adsubmit(){
        $("#form").submit();
    }

 $(document).on('change','.sell',function(){
        var id = $(this).val();
        if(id==0){
            return false;
        }
        var obj =$(this);
        $.ajax({
            url:"/index.php?m=Admin&c=Organization&a=getji",
            dataType:'json',
            data:{id:id},
            success:function(res){
                 obj.nextAll().remove();
                 if(res.state==0){
                    return false;
                 }
                 var sel="<select  name='garden_id[]'><option value='0'>请选择...</option>";
                     //json的循环
                    $(res.data).each(function(key,val){
                        //自增的id                     市或区的名称
                        sel+="<option value='"+val.id+"'>"+val.name+"</option>";
                    })
                    sel+="</select>";
                    //后面追加
                    obj.after(sel);
            }

        })
        //传值
       
        })      
</script>
</body>
</html>