<include file="public/layout" />
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>添加工作日志</h3>
                <!--<h5>网站系统管理员资料</h5>-->
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="adminHandle" method="post">
        
        <div class="ncap-form-default">
         <dl class="row">
                <dt class="tit">
                    <label><em>*</em>集团名称</label>
                </dt>
                <dd class="opt">
                    <select name="ji_id" class="j_01">
                        <option value="" >请选择</option>
                        <volist name="jituan" id="item">
                            <option value="{$item.id}" >{$item.name}</option>
                        </volist>
                    </select>
                    <span class="err" id="err_j_id"></span>
                    <p class="notic">集团名称</p>
                </dd>
            </dl>
                <dl class="row">
                    <dt class="tit">
                        <label><em>*</em>园所名称/部门名称</label>
                    </dt>
                    <dd class="opt">
                        <select name="garden_id" class="garden_01">
                            <option value="" >请选择</option>
                        </select>
                        <span class="err" id="err_garden_id"></span>
                        <p class="notic">园所名称/部门名称</p>
                    </dd>
                </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>班级名称</label>
                </dt>
                <dd class="opt">
                    <select name="class_id" class="class_01">
                        <option value="" >请选择</option>
                    </select>
                    <span class="err" id="err_class_id"></span>
                    <p class="notic">班级名称</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label><em>*</em>任岗职位</label>
                </dt>
                <dd class="opt">
                    <select name="o_id" class="post_01">
                        <option value="" >请选择</option>
                    </select>
                    <span class="err" id="err_post_id"></span>
                    <p class="notic">任岗职位</p>
                </dd>
            </dl>
             <dl class="row">
                <dt class="tit">
                    <label><em>*</em>员工姓名</label>
                </dt>
                <dd class="opt">
                    <button id="btn" type="button">确定员工</button>
                   <!--  <select name="staff_id">
                        <option value="" >请选择</option>
                    </select> -->
                    <span class="err" id="err_post_id"></span>
                    <p class="notic">员工姓名</p>
                </dd>
            </dl>




            <dl class="row">
                <dt class="tit">
                    <label for="principal"><em>*</em>今日工作简介</label>
                </dt>
                <dd class="opt">
                    <textarea name="today_desc"></textarea>
                    <span class="err" id="err_user_name"></span>
                    <p class="notic">今日工作简介</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="principal"><em>*</em>明日工作计划</label>
                </dt>
                <dd class="opt">
                    <textarea name="ming_desc"></textarea>
                    <span class="err" id="err_user_name"></span>
                    <p class="notic">明日工作计划</p>
                </dd>
            </dl>
            <div class="bot"><a href="JavaScript:void(0);" onclick="adsubmit();" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
        </div>
    </form>
</div>
<script type="text/javascript">
    // 判断输入框是否为空
    function adsubmit(){
        $('.err').show();
        $.ajax({
            async:false,
            url:'/index.php?m=Admin&c=Staff&a=journal_add&t='+Math.random(),
            data:$('#adminHandle').serialize(),
            type:'post',
            dataType:'json',
            success:function(data){
//                console.log(data);return false;
                if(data.status != 1){
                    layer.msg(data.msg,{icon: 2,time: 2000})
                    $.each(data.result,function (index,item) {
                        $('#err_'+index).text(item)
                    })
                }else{
                    layer.msg(data.msg,{icon: 1,time: 1000},function () {
                        window.location.href = data.url;
                    })
                }
            },
            error : function(XMLHttpRequest, textStatus, errorThrown) {
                $('#error').html('<span class="error">网络失败，请刷新页面后重试!</span>');
            }
        });
    }
      $(document).on('change','.j_01',function () {
        var j_id = $(this).val()
        if(j_id == ""){
            var td = "<select name='position_id' class='post_01'><option value='' >请选择</option>";
            td += "</select>";
            $(".garden_01").html(td);
            $(".class_01").html(td);
            $(".post_01").html(td);
        }
        $.ajax({
            url:"/index.php/Admin/Staff/AjaxJ",
            type:"post",
            data:{j_id:j_id},
            dataType:'json',
            success:function (data) {
                // console.log(data);return false;
                var tr = "<select name='garden_id' class='garden_01'><option value='' >请选择</option>";
                $.each(data,function (i,v) {
                    tr += "<option value='"+v.id+"'  >"+v.name+"</option>"
                })
                tr += "</select>";

                var td = "<select name='position_id' class='post_01'><option value='' >请选择</option>";
                td += "</select>";
                $(".class_01").html(td);

                $(".garden_01").html(tr);
                $.ajax({
                    url:"/index.php/Admin/Staff/AjaxP",
                    data:{id:j_id},
                    dataType:"json",
                    type:"post",
                    success:function(data){
                        var tr = "<select name='position_id' class='post_01'><option value='' >请选择</option>";
                        $.each(data,function (i,v) {
                            tr += "<option value='"+v.id+"'  >"+v.name+"</option>"
                        })
                        tr += "</select>";
                        $(".post_01").html(tr);
                    }
                })

            }
        })
    })
    $(document).on('change','.garden_01',function () {
        var garden_id = $(this).val()
        $.ajax({
            url:"/index.php/Admin/Staff/AjaxGarden",
            type:"post",
            data:{garden_id:garden_id},
            dataType:'json',
            success:function (data) {
                // console.log(data);
               var tr = "<select name='class_id' class='class_01'><option value='' >请选择</option>";
                $.each(data,function (i,v) {
                    tr += "<option value='"+v.id+"'  >"+v.name+"</option>"
                })
                tr += "</select>";
                $(".class_01").html(tr);
                $.ajax({
                    url:"/index.php/Admin/Staff/AjaxP",
                    data:{id:garden_id},
                    dataType:"json",
                    type:"post",
                    success:function(data){
                        var tr = "<select name='position_id' class='post_01'><option value='' >请选择</option>";
                        $.each(data,function (i,v) {
                            tr += "<option value='"+v.id+"'  >"+v.name+"</option>"
                        })
                        tr += "</select>";
                        $(".post_01").html(tr);
                    }
                })

            }
        })
    })
    $(document).on('change','.class_01',function () {
        var class_id = $(this).val()
        $.ajax({
            url:"/index.php/Admin/Staff/AjaxGarden",
            type:"post",
            data:{class_id:class_id},
            dataType:'json',
            success:function (data) {
                $.ajax({
                    url:"/index.php/Admin/Staff/AjaxP",
                    data:{id:class_id},
                    dataType:"json",
                    type:"post",
                    success:function(data){
                        var tr = "<select name='position_id' class='post_01'><option value='' >请选择</option>";
                        $.each(data,function (i,v) {
                            tr += "<option value='"+v.id+"'  >"+v.name+"</option>"
                        })
                        tr += "</select>";
                        $(".post_01").html(tr);
                    }
                })

            }
        })
    })
     $(document).on("click","#btn",function(){
        $("#btn").next().remove();
       var ji_id=$(".j_01").val();
       var garden_id=$(".garden_01").val();
       var class_id=$(".class_01").val();
       var post_id=$(".post_01").val();
       // console.log(ji_id);
       // console.log(garden_id);
       // console.log(class_id);
       // console.log(post_id);
       // return;
        
          $.ajax({
            url:"/index.php?m=Admin&c=Staff&a=journal_getstaff",
            data:{ji_id:ji_id,garden_id:garden_id,class_id:class_id,post_id:post_id},
            dataType:'json',
            success:function(res){
                if(res.status==0){
                    alert(res.msg)
                }else{
                    var str='<select name="staff_id"><option value="0">请选择...</option>';
                    $.each(res.data,function(i,v){
                       
                        str+='<option value="'+v.staff_id+'">'+v.staff_name+'</option>'
                    })
                  
                    str+='</select>';
                    $("#btn").after(str)
                }
            }
        })
    })
</script>
</body>
</html>