<include file="public/layout" />
<style>
    * {
        margin: 0;
        padding: 0;
        list-style: none;
    }


    /*设置中间鼠标点击事件*/

    .ayou_div2 {

        height: 46px;
        position: relative;
    }

    li {
        width: 129px;
        height: 44px;
        font-size: 16px;
        text-align: center;
        line-height: 44px;
        float: left;
        cursor: pointer;
    }
    /*设置显示li的样式*/
    h3{
        width: 120px;
        float: left;
        height: 44px;
        line-height: 44px;
        font-size: 16px;
    }
    .a_11 {
        background: #9bc248;
        color: #fff;
        border-bottom: none;
    }

</style>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>招聘信息</h3>
                <!--<h5>网站系统管理员列表</h5>-->
            </div>
        </div>
    </div>
    <!--&lt;!&ndash; 操作说明 &ndash;&gt;-->
    <!--<div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">-->
    <!--<div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>-->
    <!--<h4 title="提示相关设置操作时应注意的要点">操作提示</h4>-->
    <!--<span title="收起提示" id="explanationZoom" style="display: block;"></span>-->
    <!--</div>-->
    <!--<ul>-->
    <!--<li>管理员列表管理, 可修改后台管理员登录密码和所属角色</li>-->
    <!--</ul>-->
    <!--</div>-->
    <div class="ayou_div1">

        <!--设置选项卡-->
        <div class="ayou_div2">

            <ul id="a_1">
                <h3>所属集团：</h3>
                <li class="a_11 cl" id="0" cat="ji_id">全部</li>
                <foreach name="where['ji']" item="val">
                    <li id="{$val.id}" cat="ji_id" class="cl">{$val.name}</li>
                </foreach>

            </ul>
        </div>


        <!--设置选项卡-->
        <div class="ayou_div2">

            <ul id="a_2">
                <h3>所属园区/部门：</h3>
                <span id="garden">
					<li class="a_11 cl" id="0" cat="garden_id">全部</li>

						<foreach name="where['garden']" item="val">
							<li id="{$val.id}" cat="garden_id" class="cl">{$val.name}</li>
						</foreach>
					</span>
            </ul>
        </div>




    </div>
    <div class="flexigrid">

        <!--<div class="mDiv">-->
            <!--<div class="ftitle">-->
                <!--<h3>招聘信息</h3>-->
                <!--<h5>(共{$list|count}条记录)</h5>-->
            <!--</div>-->
            <!--<div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>-->
            <!--<form class="navbar-form form-inline" action="{:U('Admin/index')}" method="get">-->
                <!--<div class="sDiv">-->
                    <!--<div class="sDiv2">-->
                        <!--<input type="text" size="30" name="keywords" class="qsbox" placeholder="搜索相关数据...">-->
                        <!--<input type="submit" class="btn" value="搜索">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</form>-->
        <!--</div>-->
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th class="sign" axis="col0">
                            <div style="width: 24px;"><input type="checkbox"></div>
                        </th>
                        <th align="left" abbr="article_title" axis="col3" class="">
                            <div style="text-align: left; width: 100px;" class="">面试人</div>
                        </th>
                        <th align="left" abbr="ac_id" axis="col4" class="">
                            <div style="text-align: left; width: 100px;" class="">面试时间</div>
                        </th>
                        <th align="left" abbr="ac_id" axis="col4" class="">
                            <div style="text-align: left; width: 100px;" class="">面试职位</div>
                        </th>
                        <th align="left" abbr="ac_id" axis="col4" class="">
                            <div style="text-align: left; width: 100px;" class="">面试官</div>
                        </th>
                        <th align="left" abbr="ac_id" axis="col4" class="">
                            <div style="text-align: left; width: 100px;" class="">面试结果</div>
                        </th>
                        <th align="left" abbr="ac_id" axis="col4" class="">
                            <div style="text-align: left; width: 100px;" class="">备注</div>
                        </th>
                        <th style="width:100%" axis="col7">
                            <div></div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="tDiv">
            <div class="tDiv2">
                <div class="fbutton">
                    <a href="{:U('Staff/recruit_info')}">
                        <div class="add" title="添加管理员">
                            <span><i class="fa fa-plus"></i>添加招聘信息</span>
                        </div>
                    </a>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table>
                    <tbody id="tbd">
                    <foreach name="recruit" item="vo" key="k" >
                        <tr>
                            <td class="sign">
                                <div style="width: 24px;"><input type="checkbox"></div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;">{$vo.recruit_name}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;">{$vo.recruit_time}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;">{$vo.name}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;">{$vo.interviewer}</div>
                            </td>
        <!--                     <td align="left" class="">
                                <div style="text-align: left; width: 100px;"><?php if($vo['recruit_status'] == 0){ echo '待评价';}else if($vo['recruit_status'] == 1){ echo '面试成功';}else{ echo '面试失败';}  ?></div>
                            </td> -->
                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;">
                                    <select class="recruit_01" data-id="{$vo.recruit_id}">
                                        <?php  if($vo['recruit_status'] == 0){ ?>
                                            <option value="0" selected>待评价</option>
                                            <option value="1">面试成功</option>
                                            <option value="2">面试失败</option>
                                        <?php }else if($vo['recruit_status'] == 1){  ?>                                        
                                            <option value="0">待评价</option>
                                            <option value="1" selected>面试成功</option>
                                            <option value="2">面试失败</option>
                                        <?php  }else{ ?>
                                            <option value="0">待评价</option>
                                            <option value="1">面试成功</option>
                                            <option value="2" selected>面试失败</option>
                                        <?php  } ?>
                                    </select>
                                </div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;">{$vo.desc}</div>
                            </td>
                            <td align="" class="" style="width: 100%;">
                                <div>&nbsp;</div>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
            </div>
            <div class="iDiv" style="display: none;"></div>
        </div>
        <!--分页位置-->
        {$page} </div>
</div>
<script>
    $(document).on('click',".cl",function(){

        $(this).addClass("a_11")
        $(this).siblings().attr("class","cl")
        var cat = $(this).attr("cat");
        var id = $(this).attr("id");
        if(id =='0'){
            history.go(0)
        }
        var obj = $(".a_11");
        // console.log(obj)
        var arr=new Array();
        $(obj).each(function(i,v){
            var dat={
                id:v.id,
                type:$(this).attr("cat")
            };
            arr.push(dat)
        })
        console.log(arr);
        // return;

        if(cat=='ji_id'){
            $("#class").html('<li class="a_11 cl" id="0" cat="class_id">全部</li>');
            $.ajax({
                url:"/index.php?m=Admin&c=Assess&a=getGarden",
                data:{id:id,cat:cat},
                dataType:'json',
                success:function(res){
                    // console.log(res)
                    var st ='<li class="a_11 cl" cat="garden_id" id="0">全部</li>';
                    $.each(res,function(i,val){
                        st +=`<li id="${val.id}" cat="garden_id" class="cl">${val.name}</li>`
                    })

                    $("#garden").html(st)
                }
            })
            $.ajax({
                url:"/index.php?m=Admin&c=Assess&a=getRole",
                data:{id:id,cat:cat},
                dataType:'json',
                success:function(res){
                    // console.log(res)
                    var st ='<li class="a_11 cl" cat="o_id" id="0">全部</li>';
                    $.each(res,function(i,val){
                        st +=`<li id="${val.id}" cat="o_id" class="cl">${val.name}</li>`
                    })

                    $("#ren").html(st)
                }
            })
            $.ajax({
                url:"/index.php?m=Admin&c=Assess&a=getJiType",
                data:{id:id,status:status},
                dataType:'json',
                success:function(res){
                    var str ='<li class="a_11 cl" cat="fen_id" id="0">全部</li>';
                    $.each(res,function(i,val){
                        str +=`<li id="${val.id}" cat="fen_id" class="cl">${val.name}</li>`
                    })
                    $("#fen").html(str)
                }
            })
        }
        if(cat=='garden_id'){
            $.ajax({
                url:"/index.php?m=Admin&c=Assess&a=getClass",
                data:{id:id,cat:cat},
                dataType:'json',
                success:function(res){
                    // console.log(res)
                    var stt ='<li class="a_11 cl" cat="class_id" id="0">全部</li>';
                    $.each(res,function(i,val){
                        stt +=`<li id="${val.id}" cat="class_id" class="cl">${val.name}</li>`
                    })

                    $("#class").html(stt)
                }
            })
        }

        if(cat =='o_id'){
            var tid = $(this).html()
            $.ajax({
                url:"/index.php?m=Admin&c=Assess&a=getFenType",
                data:{tid:tid},
                type:'post',
                dataType:'json',
                success:function(res){
                    var sttt ='<li class="a_11 cl" cat="fen_id" id="0">全部</li>';
                    $.each(res,function(i,val){
                        sttt +=`<li id="${val.id}" cat="fen_id" class="cl">${val.name}</li>`
                    })
                    $("#fen").html(sttt)
                }
            })


        }
        $.ajax({
            url:"/index.php?m=Admin&c=Staff&a=getrecruitData",
            data:{"arr":arr},
            type:'post',
            dataType:'json',
            success:function(res){
                var str ='';
                $.each(res,function(i,vo){
                    str +=`
                         <tr>
                            <td class="sign">
                                <div style="width: 24px;"><input type="checkbox"></div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;">${vo.recruit_name}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;">${vo.recruit_time}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;">${vo.name}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;">${vo.interviewer}</div>
                            </td>

                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;">
                                    <select class="recruit_01" data-id="${vo.recruit_id}">`;
                                    if(vo.recruit_status==0){str+=`<option value="0" selected>待评价</option>
                                            <option value="1">面试成功</option>
                                            <option value="2">面试失败</option>`}else if(vo.recruit_status==1){str+=`<option value="0">待评价</option>
                                            <option value="1" selected>面试成功</option>
                                            <option value="2">面试失败</option>`}else{str+=`<option value="0">待评价</option>
                                            <option value="1">面试成功</option>
                                            <option value="2" selected>面试失败</option>`}
                                      str+=`
                                    </select>
                                </div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;">${vo.desc}</div>
                            </td>
                            <td align="" class="" style="width: 100%;">
                                <div>&nbsp;</div>
                            </td>
                        </tr>
                    `;
                })
                $("#tbd").html(str)
            }

        })
    })
    $(document).ready(function(){
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function(){
            $(this).toggleClass('trSelected');
        });

        // 点击刷新数据
        $('.fa-refresh').click(function(){
            location.href = location.href;
        });

    });
    $(".recruit_01").change(function () {
        var obj = $(this);
        var recruit_status = obj.val();

        var recruit_id = obj.attr("data-id");
        $.ajax({
            url:"/index.php/Admin/Staff/recruit",
            data:{recruit_status:recruit_status,recruit_id:recruit_id},
            type:"post",
            dataType:"json",
            success:function(data){
                layer.msg(data.msg,{icon: 1,time: 1000})
            }
        })
    })
</script>
</body>
</html>