<include file="public/layout" />
<style>
    * {
        margin: 0;
        padding: 0;
        list-style: none;
    }


    /*设置中间鼠标点击事件*/

    .ayou_div2 {

        height: 46px;
        position: relative;
    }

    li {
        width: 129px;
        height: 44px;
        font-size: 16px;
        text-align: center;
        line-height: 44px;
        float: left;
        cursor: pointer;
    }
    /*设置显示li的样式*/
    h3{
        width: 120px;
        float: left;
        height: 44px;
        line-height: 44px;
        font-size: 16px;
    }
    .a_11 {
        background: #9bc248;
        color: #fff;
        border-bottom: none;
    }

</style>
<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title">
            <div class="subject">
                <h3>所属幼儿园</h3>
                <!--<h5>网站系统管理员列表</h5>-->
            </div>
        </div>
    </div>
    <!-- 操作说明 -->
    <!--<div id="explanation" class="explanation" style="color: rgb(44, 188, 163); background-color: rgb(237, 251, 248); width: 99%; height: 100%;">-->
    <!--<div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>-->
    <!--<h4 title="提示相关设置操作时应注意的要点">操作提示</h4>-->
    <!--<span title="收起提示" id="explanationZoom" style="display: block;"></span>-->
    <!--</div>-->
    <!--<ul>-->
    <!--<li>管理员列表管理, 可修改后台管理员登录密码和所属角色</li>-->
    <!--</ul>-->
    <!--</div>-->
    <div class="flexigrid">
        <div class="ayou_div1">

            <!--设置选项卡-->
            <div class="ayou_div2">

                <ul id="a_1">
                    <h3>所属集团：</h3>
                    <li class="a_11 cl" id="0" cat="ji_id">全部</li>
                    <foreach name="ji" item="val">
                        <li id="{$val.id}" cat="ji_id" class="cl">{$val.name}</li>
                    </foreach>

                </ul>
            </div>


            <!--设置选项卡-->
            <div class="ayou_div2">

                <ul id="a_2">
                    <h3>所属园区/部门：</h3>
                    <span id="garden">
					<li class="a_11 cl" id="0" cat="garden_id">全部</li>

						<foreach name="where['garden']" item="val">
							<li id="{$val.id}" cat="garden_id" class="cl">{$val.name}</li>
						</foreach>
					</span>
                </ul>
            </div>
        </div>
        <div class="hDiv">
            <div class="hDivBox">
                <table cellspacing="0" cellpadding="0">
                    <thead>
                    <tr>
                        <th class="sign" axis="col0">
                            <div style="width: 24px;"><i class="ico-check"></i></div>
                        </th>
                        <th align="left" abbr="article_title" axis="col3" class="">
                            <div style="text-align: left; width: 100px;" class="">所属集团</div>
                        </th>
                        <th align="left" abbr="article_title" axis="col3" class="">
                            <div style="text-align: left; width: 100px;" class="">所属园所</div>
                        </th>
                        <th align="left" abbr="article_title" axis="col3" class="">
                            <div style="text-align: left; width: 100px;" class="">标题</div>
                        </th>
                        <th align="left" abbr="article_title" axis="col3" class="">
                            <div style="text-align: left; width: 100px;" class="">内容</div>
                        </th>
                        <th align="left" abbr="article_title" axis="col3" class="">
                            <div style="text-align: left; width: 100px;" class="">图片</div>
                        </th>
                        <th align="left" abbr="article_title" axis="col3" class="">
                            <div style="text-align: left; width: 100px;" class="">申请类型</div>
                        </th>
                        <th align="left" abbr="article_title" axis="col3" class="">
                            <div style="text-align: left; width: 100px;" class="">状态</div>
                        </th>
                        <th align="left" abbr="article_title" axis="col3" class="">
                            <div style="text-align: left; width: 170px;" class="">操作</div>
                        </th>
                        <th style="width:100%" axis="col7">
                            <div></div>
                        </th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
        <!--<div class="tDiv">-->
            <!--<div class="tDiv2">-->
                <!--<div class="fbutton">-->
                    <!--<a href="{:U('Staff/class_info')}">-->
                        <!--<div class="add" title="添加管理员">-->
                            <!--<span><i class="fa fa-plus"></i>添加班级</span>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div style="clear:both"></div>-->
        <!--</div>-->
        <div class="bDiv" style="height: auto;">
            <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
                <table >
                    <tbody id="tbd">
                    <foreach name="data" item="vo" key="k" >
                        <tr>
                            <td class="sign">
                                <div style="width: 24px;"><i class="ico-check"></i></div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;">{$vo.j_name}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;">{$vo.g_name}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;">{$vo.inform_title}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;">{$vo.inform_desc}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; "><img src="{$vo.inform_photo}" style="width: 100px;height: 50px;" alt=""></div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;">{$vo.inform_type}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;" class="status"><?php if($vo['inform_status'] == 1){echo '已通过';}else if($vo['inform_status'] == 2){echo '未通过';}else{ echo '待审核'; } ?></div>
                            </td>
                            <td align="center" class="handle">
                                <div style="text-align: center; width: 170px; max-width:170px;">
                                    <a class="btn red"  href="javascript:void(0)" data-url="{:U('Inform/update')}" data-id="{$vo.inform_id}" data-status_id="1" onClick="delfun(this)"><i class="fa fa-trash-o"></i>通过</a>
                                    <a class="btn red"  href="javascript:void(0)" data-url="{:U('Inform/update')}" data-id="{$vo.inform_id}" data-status_id="2" onClick="delfun(this)"><i class="fa fa-trash-o"></i>不通过</a>
                                </div>
                            </td>
                            <td align="" class="" style="width: 100%;">
                                <div>&nbsp;</div>
                            </td>
                        </tr>
                    </foreach>
                    </tbody>
                </table>
            </div>
            <div class="iDiv" style="display: none;"></div>
        </div>
        <!--分页位置-->
        {$page} </div>
</div>
<script>
    $(document).on('click',".cl",function(){
        $(this).addClass("a_11")
        $(this).siblings().attr("class","cl")
        var cat = $(this).attr("cat");
        var id = $(this).attr("id");
        if(id =='0'){
            history.go(0)
        }
        var obj = $(".a_11");
        // console.log(obj)
        var arr=new Array();
        $(obj).each(function(i,v){
            var dat={
                id:v.id,
                type:$(this).attr("cat")
            };
            arr.push(dat)
        })
        // console.log(arr);
        // return;


        if(cat=='ji_id'){
            $("#class").html('<li class="a_11 cl" id="0" cat="class_id">全部</li>');
            $.ajax({
                url:"/index.php?m=Admin&c=Assess&a=getGarden",
                data:{id:id,cat:cat},
                dataType:'json',
                success:function(res){
                    // console.log(res)
                    var st ='<li class="a_11 cl" cat="garden_id" id="0">全部</li>';
                    $.each(res,function(i,val){
                        st +=`<li id="${val.id}" cat="garden_id" class="cl">${val.name}</li>`
                    })

                    $("#garden").html(st)
                }
            })
            $.ajax({
                url:"/index.php?m=Admin&c=Assess&a=getRole",
                data:{id:id,cat:cat},
                dataType:'json',
                success:function(res){
                    // console.log(res)
                    var st ='<li class="a_11 cl" cat="o_id" id="0">全部</li>';
                    $.each(res,function(i,val){
                        st +=`<li id="${val.id}" cat="o_id" class="cl">${val.name}</li>`
                    })

                    $("#ren").html(st)
                }
            })
            $.ajax({
                url:"/index.php?m=Admin&c=Assess&a=getJiType",
                data:{id:id,status:status},
                dataType:'json',
                success:function(res){
                    var str ='<li class="a_11 cl" cat="fen_id" id="0">全部</li>';
                    $.each(res,function(i,val){
                        str +=`<li id="${val.id}" cat="fen_id" class="cl">${val.name}</li>`
                    })
                    $("#fen").html(str)
                }
            })
        }
        if(cat=='garden_id'){
            $.ajax({
                url:"/index.php?m=Admin&c=Assess&a=getClass",
                data:{id:id,cat:cat},
                dataType:'json',
                success:function(res){
                    // console.log(res)
                    var stt ='<li class="a_11 cl" cat="class_id" id="0">全部</li>';
                    $.each(res,function(i,val){
                        stt +=`<li id="${val.id}" cat="class_id" class="cl">${val.name}</li>`
                    })

                    $("#class").html(stt)
                }
            })
        }

        if(cat =='o_id'){
            var tid = $(this).html();
            // console.log(tid);return;
            $.ajax({
                url:"/index.php?m=Admin&c=Assess&a=getFenType",
                data:{tid:tid},
                type:'post',
                dataType:'json',
                success:function(res){
                    var sttt ='<li class="a_11 cl" cat="fen_id" id="0">全部</li>';
                    $.each(res,function(i,val){
                        sttt +=`<li id="${val.id}" cat="fen_id" class="cl">${val.name}</li>`
                    })
                    $("#fen").html(sttt)
                }
            })


        }

        console.log(arr);
        // arr =JSON.stringify(arr);
        // console.log(arr);
        $.ajax({
            url:"/index.php?m=Admin&c=Inform&a=getData",
            data:{"arr":arr},
            type:'post',
            // traditional :true,
            dataType:'json',
            success:function(res){
                console.log(res)
                str ='';
                $.each(res,function(i,vo){
                    str +=`
					  <tr>
                            <td class="sign">
                                <div style="width: 24px;"><i class="ico-check"></i></div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;">${vo.j_name}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;">${vo.g_name}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;">${vo.inform_title}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;">${vo.inform_desc}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; "><img src="${vo.inform_photo}" style="width: 100px;height: 50px;" alt=""></div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;">${vo.inform_type}</div>
                            </td>
                            <td align="left" class="">
                                <div style="text-align: left; width: 100px;" class="status">`;
                    if(vo.inform_status==1){str+='已通过'}else if(vo.inform_status==2){str+='未通过'}else{str+='待审核'}
                   
                str+=   `</div>
                            </td>
                            <td align="center" class="handle">
                                <div style="text-align: center; width: 170px; max-width:170px;">
                                    <a class="btn red"  href="javascript:void(0)" data-url="{:U('Inform/update')}" data-id="${vo.inform_id}" data-status_id="1" onClick="delfun(this)"><i class="fa fa-trash-o"></i>通过</a>
                                    <a class="btn red"  href="javascript:void(0)" data-url="{:U('Inform/update')}" data-id="${vo.inform_id}" data-status_id="2" onClick="delfun(this)"><i class="fa fa-trash-o"></i>不通过</a>
                                </div>
                            </td>
                            <td align="" class="" style="width: 100%;">
                                <div>&nbsp;</div>
                            </td>
                        </tr>
					`;
                })
                $("#tbd").html(str)
            }
        })
    })

    function zouni(myID) {
        //设置选项一栏
        var a_1 = document.getElementById(myID);
        var a_1lis = a_1.getElementsByTagName('li');
        //li div数量相等 下标一样 使用遍历
        for(var i = 0; i < a_1lis.length; i++) {
            //保存鼠标移入当前li的下标
            a_1lis[i].index = i;
            //鼠标点击
            a_1lis[i].onclick = function() {
                //去掉指定li样式影藏所有div
                for(var j = 0; j < a_1lis.length; j++) {
                    a_1lis[j].className = 'cl';
                }
                //显示当前li想其对应的div
                a_1lis[this.index].className = 'a_11 cl';
            }
        }
    };
    zouni('a_1');
    zouni('a_2');
    $(document).ready(function(){
        // 表格行点击选中切换
        $('#flexigrid > table>tbody >tr').click(function(){
            $(this).toggleClass('trSelected');
        });

        // 点击刷新数据
        $('.fa-refresh').click(function(){
            location.href = location.href;
        });

    });


    function delfun(obj) {
        // 删除按钮
        layer.confirm('是否确定？', {
            btn: ['确定', '取消'] //按钮
        }, function () {
            $.ajax({
                type: 'post',
                url: $(obj).attr('data-url'),
                data : {act:'del',id:$(obj).attr('data-id'),status_id:$(obj).attr('data-status_id')},
                dataType: 'json',
                success: function (data) {
//                    console.log(data);return false;
                    if (data.status == 1) {
                        var status_id = $(obj).attr('data-status_id')
                        if(status_id == 1){
                            $(obj).parents("td").prev().children().html('通过')
                        }else if(status_id == 2){
                            $(obj).parents("td").prev().children().html('不通过')
                        }
                        layer.msg(data.msg,{icon: 1,time: 1000})

                    } else {
                        layer.msg(data.msg,{icon: 2,time: 2000})
                    }
                }
            })
        }, function () {
        });
    }
</script>
</body>
</html>