<include file="public/layout" />
<body style="background-color: #FFF; overflow: auto;">
<div id="toolTipLayer" style="position: absolute; z-index: 9999; display: none; visibility: visible; left: 95px; top: 573px;"></div>
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
    <div class="fixed-bar">
        <div class="item-title"><a class="back" href="javascript:history.back();" title="返回列表"><i class="fa fa-arrow-circle-o-left"></i></a>
            <div class="subject">
                <h3>添加招聘信息</h3>
                <!--<h5>网站系统管理员资料</h5>-->
            </div>
        </div>
    </div>
    <form class="form-horizontal" id="adminHandle" method="post">
        <input type="hidden" name="act" id="act" value="{$act}">
        <input type="hidden" name="admin_id" value="{$info.admin_id}">
        <input type="hidden" name="auth_code" value="{$Think.config.AUTH_CODE}"/>
        <div class="ncap-form-default">
            <dl class="row">
                <dt class="tit">
                    <label for="recruit_name"><em>*</em>面试人</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="recruit_name" value="{$info.c_name}" id="recruit_name" maxlength="20" class="input-txt">
                    <span class="err" id="err_recruit_name"></span>
                    <p class="notic">面试人</p>
                </dd>
            </dl>
            <dl class="row">
                    <dt class="tit">
                        <label><em>*</em>面试职位</label>
                    </dt>
                    <dd class="opt">
                        <select name="role_id">
                            <volist name="role" id="item">
                                <option value="{$item.role_id}" <if condition="$item[role_id] eq $info[role_id]"> selected="selected"</if> >{$item.role_name}</option>
                            </volist>
                        </select>
                        <span class="err" id="err_role_id"></span>
                        <p class="notic">面试职位</p>
                    </dd>
                </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="recruit_time"><em>*</em>面试时间</label>
                </dt>
                <dd class="opt">
                    <input type="date" name="recruit_time" value="{$info.c_name}" id="recruit_time" maxlength="20" class="input-txt">
                    <span class="err" id="err_recruit_time"></span>
                    <p class="notic">面试时间</p>
                </dd>
            </dl>
            <dl class="row">
                <dt class="tit">
                    <label for="interviewer"><em>*</em>面试官</label>
                </dt>
                <dd class="opt">
                    <input type="text" name="interviewer" value="{$info.c_name}" id="interviewer" maxlength="20" class="input-txt">
                    <span class="err" id="err_interviewer"></span>
                    <p class="notic">面试官</p>
                </dd>
            </dl>
        
            <div class="bot"><a href="JavaScript:void(0);" onclick="adsubmit();" class="ncap-btn-big ncap-btn-green" id="submitBtn">确认提交</a></div>
        </div>
    </form>
</div>
<script type="text/javascript">
    // 判断输入框是否为空
    function adsubmit(){
        $('.err').show();
        $.ajax({
            async:false,
            url:'/index.php?m=Admin&c=Staff&a=recruit_info&t='+Math.random(),
            data:$('#adminHandle').serialize(),
            type:'post',
            dataType:'json',
            success:function(data){
               console.log(data);return false;
                if(data.status != 1){
                    layer.msg(data.msg,{icon: 2,time: 2000})
                    $.each(data.result,function (index,item) {
                        $('#err_'+index).text(item)
                    })
                }else{
                    layer.msg(data.msg,{icon: 1,time: 1000},function () {
                        window.location.href = data.url;
                    })
                }
            },
            error : function(XMLHttpRequest, textStatus, errorThrown) {
                $('#error').html('<span class="error">网络失败，请刷新页面后重试!</span>');
            }
        });
    }
</script>
</body>
</html>